:root {
  --ys-foreground: #FFF;
}

.button {
  user-select: none;
  -webkit-user-drag: none;
  position: relative;
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
  overflow: hidden;
}

.button svg {
  width: 100%;
  height: 100%;
}
.button svg path {
  fill: var(--ys-foreground);
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 0.218s;
}

.button.playing svg path {
  d: path("M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z");
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  transition: all 218ms linear;
  transform: translateZ(0);
}

.button:after {
  left: auto;
  right: 0;
}
